main {
    display: flex;
    width: 100%;
}

.container {
    margin: auto;
}

.header {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 1.7rem;
    font-weight: 600;
}
